#countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: lightblue;
}

.country {
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: cyan;
    margin-top: 30px;
    box-shadow: 10px 10px 20px gray;
}

.country-name {
    color: magenta;
    font-size: 40px;
}

#countryDetail img {
    width: 300px;
}

#countryDetail {
    text-align: center;
    margin-right: 190px;
}

.header {
    color: hotpink;
    text-align: center;
    margin-right: 100px;
}